body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px; }

h1, h2, h3, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal; }

h2 {
  color: #056fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px; }

.hero {
  height: 300px;
  background-color: #1b2127;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .hero .hero-image {
    -o-object-fit: cover;
    object-fit: cover; }
  .hero h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #fff;
    margin: 0; }
    .hero h1 strong {
      color: #056fff; }

.portfolio {
  background: #fafafa;
  padding: 20px; }
  .portfolio .project {
    border: 1px solid gray;
    border-radius: 10px;
    border-radius: 35px;
    padding: 20px;
    margin-bottom: 15px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .portfolio .project .project-title {
      font-size: 30px;
      margin: 0 0 10px 0; }
    .portfolio .project .project-details {
      width: 50%; }
    .portfolio .project .project-imageContainer {
      width: 50%;
      margin: 0; }
      .portfolio .project .project-imageContainer img {
        max-width: 100%;
        width: 100%; }
    .portfolio .project .project-course, .portfolio .project .project-date, .portfolio .project .project-url {
      margin: 10px 0; }
    .portfolio .project .project-description {
      font-size: 20px; }
    .portfolio .project strong {
      font-family: 'Fjalla One', sans-serif; }

.event-list-title {
  margin: 20px; }

.event-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .event-list .event {
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: #f4fbff; }
    .event-list .event .event-imageContainer {
      margin: 0; }
      .event-list .event .event-imageContainer img {
        width: 480px;
        height: 200px;
        -o-object-fit: cover;
        object-fit: cover; }
    .event-list .event .event-detail {
      margin: 20px 40px;
      margin-top: -40px;
      background-color: #fff;
      position: relative;
      padding: 20px;
      text-align: center; }
      .event-list .event .event-detail .event-description {
        text-align: left; }
      .event-list .event .event-detail .event-url {
        color: #056fff;
        border: 1px solid;
        padding: 5px 20px;
        text-decoration: none;
        border-radius: 5px; }

.contact {
  background-color: #056fff;
  color: #fff;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contact .social .social-link {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff; }
    .contact .social .social-link.twitter {
      background-image: url(../img/twitter.svg); }
    .contact .social .social-link.facebook {
      background-image: url(../img/facebook.svg); }
    .contact .social .social-link.github {
      background-image: url(../img/github.svg); }
    .contact .social .social-link.instagram {
      background-image: url(../img/instagram.svg); }
    .contact .social .social-link.icon-twitter {
      font-size: 54px; }
    .contact .social .social-link.icon-facebook {
      font-size: 54px; }
    .contact .social .social-link.icon-github {
      font-size: 54px; }
    .contact .social .social-link.icon-instagram {
      font-size: 54px; }
  .contact .form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold; }
  .contact .form-email input {
    border-color: #626262;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 25px;
    background-image: url("../img/envelope.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border: 1px solid #626262; }
    .contact .form-email input.button {
      display: block;
      background: transparent;
      color: #fff;
      padding: 10px 0;
      border-radius: 5px;
      width: 100px;
      border: 1px solid #fff;
      margin-top: 10px; }

.container {
  max-width: 1000px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  -webkit-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  height: inherit;
  -ms-flex-wrap: inherit;
  flex-wrap: inherit; }

.html-video {
  width: 100%;
  height: auto; }

.flexible-video {
  width: 100%;
  height: 0px;
  padding-top: 56.25%;
  background: blue;
  position: relative; }

.youtube-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.header {
  background-color: #1b2127;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .header .menu {
    height: inherit; }
    .header .menu ol, .header .menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: inherit; }
      .header .menu ol li, .header .menu ul li {
        height: inherit; }
        .header .menu ol li a, .header .menu ul li a {
          color: #fff;
          text-decoration: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: inherit;
          padding: 0 10px; }
  .header figure {
    margin: 0; }

.footer {
  background-color: #1b2127;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer img {
    vertical-align: middle; }
  .footer a {
    color: #fff; }

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: #fff; }

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1em; }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em; }
    .hero h1 {
      font-size: 2em;
      z-index: 2; }
    .hero .hero-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      -o-object-position: center 25%;
      object-position: center 25%; } }

@media screen and (max-width: 767px) {
  .burger-button {
    display: block; }
  .header {
    display: block;
    height: auto; }
    .header .menu ul {
      display: block; }
      .header .menu ul li {
        height: 50px;
        text-align: center; }
        .header .menu ul li a {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
    .header .logo {
      text-align: center; }
  .portfolio .project {
    display: block; }
    .portfolio .project .project-imageContainer {
      width: auto;
      text-align: center; }
    .portfolio .project .project-details {
      width: auto;
      font-size: 16px; }
      .portfolio .project .project-details .project-title {
        font-size: 1.5em;
        margin-bottom: 0.3em; }
      .portfolio .project .project-details .project-url {
        font-size: 1em;
        margin: .4em 0; }
      .portfolio .project .project-details .project-course {
        font-size: 1em;
        margin: .4em 0; }
      .portfolio .project .project-details .project-date {
        font-size: 0.7em;
        margin: .4em 0; }
      .portfolio .project .project-details .project-description {
        font-size: 0.8em; }
  .event-list .event {
    width: auto;
    -ms-flex-negative: initial;
    flex-shrink: initial; }
    .event-list .event .event-imageContainer .event-image {
      width: 100%; } }

@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 1.5em; }
  .portfolio .project .project-details {
    font-size: 12px; }
  .event-list .event .event-detail {
    margin: -2em .5em .5em;
    padding: 1em; }
  .contact {
    height: auto;
    padding: 1em 0;
    text-align: center;
    display: block; }
    .contact .form-email input.button {
      margin: 1em auto; }
    .contact .form-email h3 {
      margin-top: 0; }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent; } }

@media screen and (max-width: 320px) {
  .hero {
    padding: 2em 1em; }
    .hero h1 {
      font-size: 1.2em;
      background: rgba(0, 0, 0, 0.5); }
  .contact .social .social-link {
    display: block;
    margin: 1.5em auto; } }
