body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1,h2,h3,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h2{
    color: $light-blue;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero{
    height: 300px;
    // background-image: url('../img/hero.jpg');
    // background-size: 500px 300px;
    // background-repeat: no-repeat;
    // background-position-x: right;
    background-color: $background-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .hero-image{
        object-fit: cover;
    }

    h1{
        font-size: 40px;
        line-height: 1.5;
        letter-spacing: -.2px;
        color: $white;
        // margin: 100px 150px 70px 30px;
        margin: 0;
        strong{ 
            color: $light-blue;
        }
    }
}
.portfolio{
    background: $light-gray-background;
    padding: 20px;
    .project{
    border: 1px solid gray;
    border-radius: 10px;
    border-radius: 35px; 
    padding: 20px;
    margin-bottom: 15px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
        .project-title{
            font-size: 30px;
            margin: 0 0 10px 0;
        }
        .project-details{
            width: 50%;
        }
        .project-imageContainer{
            width: 50%;
            margin: 0;
            img{
                max-width: 100%;
                width: 100%;
            }
        }
        .project-course, .project-date, .project-url{
            margin: 10px 0;
        }
        .project-description{
            font-size: 20px;

        }
        strong{
            font-family: 'Fjalla One', sans-serif;
        }
    }

}

.event-list-title{
    margin: 20px;
}
.event-list{
    display: flex;
    flex-wrap: wrap;
    .event{
        margin: 1%;
        width: 48%;
        border-radius: 10px;
        overflow: hidden;
        flex-shrink: 0; //ocupan el tamaño designado , no apachurrarse
        background-color: $sky-blue;
        .event-imageContainer{
            margin: 0;     
            img{
                width: 480px;
                height: 200px;
                object-fit: cover; //cambia proporción de imagen dependiendo alto y ancho que tenga el elemento
            }
        }
        .event-detail{
            margin: 20px 40px;
            margin-top: -40px;
            background-color: $white;
            position: relative;
            padding: 20px;
            text-align: center;
            .event-description{
                text-align: left;
            }
            .event-url{
                color: $light-blue;
                border: 1px solid;
                padding: 5px 20px;
                text-decoration: none;
                border-radius: 5px;
            }
        }
    }
}

.contact{
 background-color: $light-blue;
 color: $white;
 height: 150px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
 .social{
     .social-link{
         width: 50px;
         height: 50px;
         display: inline-block;
         background-size: 50px 50px;
         margin: 0 10px;
         &.twitter{
             background-image: url(../img/twitter.svg);
         }
         &.facebook{
             background-image: url(../img/facebook.svg);
         }
         &.github{
             background-image: url(../img/github.svg);
         }
         &.instagram{
             background-image: url(../img/instagram.svg);
         }
     }
 }
 .form-email{
     h3{
         font-family: 'Source Sans Pro', sans-serif;
         font-weight: bold;
     }
     input{
         border-color: $light-gray;
         border-style: solid;
         border-radius: 5px;
         padding: 5px 20px 5px 25px;
         background-image: url('../img/envelope.svg');
         background-size: 15px 15px;
         background-repeat: no-repeat;
         background-position-y: center;
         background-position-x: 5px;
         border: 1px solid $light-gray;
        &.button{
            display: block;
            background: transparent;
            color: $white;
            padding: 10px 0;
            border-radius: 5px;
            width: 100px;
            border: 1px solid $white;
            margin-top: 10px;
            // border: 2px solid $light-gray;
        }
     }

 }
}

.container{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}