// Si empiezas con desktop first empieza con la mayor resolucion 
.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba($black, 0.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: $white;

}


@media screen and (max-width: 1024px){
    .container{
        padding: 0 1em;
    }

     .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
        h1{
            font-size: 2em;
            z-index: 2;
        }
        .hero-image{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            width: 100%;
            object-position: center 25%;
        }
        
    }
    
}

@media screen and (max-width: 767px){

    .burger-button{
        display: block;
    }
    .header{
        display: block;
        height: auto;
        .menu{
            position: fixed;
            background: rgba($light-blue, 0.9);
            z-index: 3;
            top: 0;
            left: -100vw;
            bottom: 0;
            width: 100vw;
            // height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            &.active{
                left: 0;

            }

            ul{
                display: block;
                li{
                    height: 50px;
                    text-align: center;
                    a {
                        justify-content: center;
                        height: 40px;
                        font-size: 2em;
                        text-decoration: underline;
                        margin-bottom: .5em;
                    }
                }
            }
        }
        .logo{
            text-align: center;
        }
    }

    .portfolio{
        .project{
            display: block;
            .project-imageContainer{
                width: auto;
                text-align: center;
            }
            .project-details{
                width: auto;
                font-size: 16px;
                .project-title{
                    font-size: 1.5em;
                    margin-bottom: 0.3em;
                }
                .project-url{
                    font-size: 1em;
                    margin: .4em 0;
                }
                .project-course{
                    font-size: 1em;
                    margin: .4em 0;
                }
                .project-date{
                    font-size: 0.7em;
                    margin: .4em 0;
                }
                .project-description{
                    font-size: 0.8em;
                }
            }
        }
    }
    .event-list{
        .event{
            width: auto;
            flex-shrink: initial;
            .event-imageContainer{
                .event-image{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 480px){

    .hero{
        h1{
            font-size: 1.5em;
        }
    }

    .portfolio{
        .project{
            // .project-imageContainer{

            // }
            .project-details{
                font-size: 12px;
            }
        }
    }
    .event-list{
        .event{
            .event-detail{
                // 1em = 16px
                margin: -2em .5em .5em;
                padding: 1em;
            }
        }
    }
    .contact{
        height: auto;
        padding: 1em 0;
        text-align: center; //No funciona si el elemento tiene display flex
        display: block;
        .form-email{
            input{
                &.button{
                    margin: 1em auto;
                }
            }
            h3{
                margin-top: 0;
            }
        }
    }
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 320px){

    .hero{
        padding: 2em 1em;
        h1{
            font-size: 1.2em;
            background: rgba($color: #000000, $alpha: 0.5) ;
        }
    }
    .contact{
        .social{
            .social-link{
                display: block;
                margin: 1.5em auto;
            }
        }
    }
}
